.friends {
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.friends hr {
    background-color: black;
    border-width: 2px;
}

.friendsInfo {
    margin: auto;
    text-align: center;
 
}

.tweet {
    background-color: #c7edfc;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

body 
{
    background-color: #f7f7f7;
}

.tweetFrame {
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 3px;
    margin-top: 5px;
}

.outlineBox {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

/*.tweet {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: inset;
    background-color: #F9F9F9;
    margin-bottom: -10px; 
}*/

#panel0,
#panel1,
#panel2 {
    padding-bottom: 20px;
}
